html,body{ 
  height: 100%;
}

body{ 
   max-width: 1280px;
   margin: 0 auto;

   
   font-size: xx-large;
   font-family: Arial, Helvetica, sans-serif; 
   border-radius: 1000px blue;  
   background: linear-gradient(to top right, lightblue, gray) 

} 


img {
    width: 400px;
    height: 300px; 
   
   border-bottom: 100cm solid red;
      border-bottom: 100px dotted gray;
      border-bottom: double;  
         border-top: 5px solid red;
    border-top: 100px dotted blue;
       border-top: double; 
       border-left: 100cm solid red;
       border-left: 100px dotted blue;
       border-left: double;    
       border-right: 100cm solid red;
       border-right: 100px dotted blue;
       border-right: double;   
       }
        .Feitletur{ 
    color: black;   
  } 

 .box {
   background-color: #444;
   color: #fff;
   border-radius: 5px;
   padding: 20px;
   font-size: 150%;

 }

 .a {
   grid-column: 1 / 3;
   grid-row: 1;
 }
 .b {
   grid-column: 3/3 ;
   grid-row: 2;
 }
 .c {
   grid-column: 1 ;
   grid-row: 2;
 }
 .d {
   grid-column: 2;
   grid-row: 2;
 }

 .myndir_dalkar{
  display: grid;
  grid-template-columns: 1fr;
}
 

 @media screen and (min-width: 768px) {
  
  .myndir_dalkar{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 } 
 
 @media screen and (min-width: 768px) {
  
  .TEXTI2{
    display: grid;
    grid-template-columns: 2fr; 
  }
 } 
 @media screen and (min-width: 768px) {
  
  .TEXTI3{
    display: grid;
    grid-template-columns:  1fr;  
  }
 } 
 

.wrapper{
   
  display: grid;
  grid-gap: 5px; 
  grid-template-columns:1fr 1fr;  
  grid-template-areas: 
  "a a"; 
  "b b" 
  "c d"; 
}  
} 
@media screen and (  ain-width : 768 ) {
  
.wrapper{
  display:grid; 
  grid-gap: 10px; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  
  grid-template-areas:  
  "b a c d";
}
} 

.a{ 
  background: orange; 
  grid-area: a;  
  } 
.b{ 
  background: silver; 
  grid-area:b; 

}
.c{ 
  background: green; 
  grid-area: b;
} 
.d{ 
  background: navajowhite; 
  grid-area: d;
}

.d{ 
  background:blue; 
  grid-area: b; 
}


.c{ 
  background: green; 
  grid-area: c; 

} 

.d{  
background: red;

} 
.wrapper{ 
  display:grid 
  Grid-gap: 5px; 
  Grid-template-columns:1fr; 
grid-template-areas: 
"c" 
"a" 
"b"
"d"
}  

.topnav {
  ;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: rgb(241, 238, 238);
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
} 



table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

table tr {
  background-color:lightblue;
  border: 1px solid black;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}



table, th, td {
  border: 1px solid black;
  border-collapse: collapse; 
  border-color: black
} 
th {
  text-align: left;
} 


@media screen and (max-width: 600px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #020202;
    display: block;
  }
  
  table td {
    border-bottom: 1px solid #865151;
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
  }
}

































